# ignore files

# behavioral.src
/behavioral/src/*.class
# behavioral.src.mold_method
/behavioral/src/mold_method/tetmplateMethodParttern.drawio
/behavioral/src/mold_method/*.class

# behavioral.bin
/behavioral/bin/tetmplateMethodParttern.drawio

/behavioral/bin/*.class