# ignore files

# 振る舞い関連グループ

### バイナリデータ ###
/behavioral/bin/

### 実行クラス ###
/behavioral/src/*.class

# templateMethodパターン
/behavioral/src/template_method/tetmplateMethodParttern.drawio
/behavioral/src/template_method/*.class

# observerパターン
/behavioral/src/observer/editor/*.class
/behavioral/src/observer/listeners/*.class
/behavioral/src/observer/publisher/*.class

# iteratorパターン
/behavioral/src/iterator/iterators/*.class
/behavioral/src/iterator/profile/*.class
/behavioral/src/iterator/social_networks/*.class
/behavioral/src/iterator/spammer/*.class

# strategyパターン
/behavioral/src/strategy/order/*.class
/behavioral/src/strategy/strategies/*.class

# ChainOfResponsibilityパターン
/behavioral/src/chain_of_responsibility/middleware/*.class
/behavioral/src/chain_of_responsibility/server/*.class

# Commandパターン
/behavioral/src/command/commands/*.class
/behavioral/src/command/editor/*.class


# behavioral.bin
/behavioral/bin/tetmplateMethodParttern.drawio


# 生成関連グループ

### バイナリデータ ###
/creational/bin/

### 実行クラス ###
/creational/src/*.class

# シングルトンパターン
/creational/src/singleton/SingletonParttern.drawio
/creational/src/singleton/*.class



# プロトタイプパターン
/creational/src/factory_method/buttons/*.class
/creational/src/factory_method/factory/*.class

/creational/bin/prototype/

# builderパターン
/creational/src/builder/builders/*.class
/creational/src/builder/cars/*.class
/creational/src/builder/components/*.class
/creational/src/builder/director/*.class


# AbstractFactoryパターン
/creational/src/abstract_factory/app/*.class
/creational/src/abstract_factory/buttons/*.class
/creational/src/abstract_factory/checkboxes/*.class
/creational/src/abstract_factory/factories/*.class

# creational.bin
/creational/bin/tetmplateMethodParttern.drawio

/creational/bin/*.class


# 構造関係
### バイナリデータ ###
/structural/bin/

# src
/structural/src/*.class
# adapterパターン
/structural/src/adapter/adapters/*.class
/structural/src/adapter/round/*.class
/structural/src/adapter/square/*.class
# facadeパターン
/structural/src/facade/facades/*.class
/structural/src/facade/some_complex_media_library/*.class
# bridgeパターン
/structural/src/bridge/devices/*.class
/structural/src/bridge/remotes/*.class

