# ignore files

# behavioral.src
/behavioral/src/*.class
# behavioral.src.template_method
/behavioral/src/template_method/tetmplateMethodParttern.drawio
/behavioral/src/template_method/*.class

# behavioral.bin
/behavioral/bin/tetmplateMethodParttern.drawio

/behavioral/bin/*.class